.APIcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width:300px !important;
  height: 450px !important;
  color:black !important;
  background-color: whitesmoke !important;
}

/* Add rounded corners to the top left and the top right corner of the image */
.APIimgdiv {
  width: xpx;
  margin: 0 auto;
  text-align: center;
}

.weatherLetterPadding{
  padding-left: 20px;
  color:black !important;
  background-color: whitesmoke !important;
}

.outerCardContainer{
  padding-top: 8px;
  padding-bottom: 8px;
}