nav{
    background-color: #202225;
    
}

div{
    color: #a0f3d7 !important;
}

.left-navbar-button{
    width: 15%;
    text-align: center;
}

#logo{
    margin-top: 7px;
}

#left-navbar-list{
    margin-left: 100px;
}

.left-navbar-button{
    margin-left: 6%;
    
}

a{
    color: #a0f3d7 !important;
}

.social-media-icons{
    vertical-align: middle;
}